<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DevCube</title>
    @Styles.Render("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/Site.css")
</head>
<body>

    <!--Scroll To Top Arrow-->
    <a id="arrow"><i class="icon-chevron-up"></i></a>
    @Scripts.Render("https://code.jquery.com/jquery-3.3.1.min.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/Site.js")

    <!--Footer-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DevCube</p>
        </footer>
    </div>


</body>
</html>
