@model List<ProgrammerModel>

@{
    ViewBag.Title = "Create - Programmer";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Programmer</h4>
        <hr />
        @foreach (var item in Model)
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p>First Name</p>
                <div class="col-md-10">
                    @Html.EditorFor(modelItem => item.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p>Last Name</p>
                <div class="col-md-10">
                    @Html.EditorFor(modelItem => item.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(modelItem => item.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        }

        <h4>SkilledProgrammer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @foreach (var item in Model)
                {
                    <strong>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </strong>
                    <br />

                    foreach (var skills in item.Skills)
                    {

                        @Html.CheckBoxFor(modelItem => skills.IsChecked)
                        @Html.DisplayFor(modelItem => skills.Name)
                        <br />
                        @Html.HiddenFor(modelItem => skills.SkillID)
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexProgrammer")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
