@model UpdateProgrammerViewModel

@{
    ViewBag.Title = "Update";
}

<!--Title-->
<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!--Forms-->
    <div class="form-horizontal">
        <h4>Programmer's known skills</h4>
        <hr />

        <div class="form-group">
            @Html.HiddenFor(modelItem => modelItem.ProgrammerID)

            <label><strong>First Name:</strong></label>
            @Html.EditorFor(modelItem => modelItem.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.FirstName, "", new { @class = "text-danger" })
            <br />
            
            <label><strong>Last Name:</strong></label>
            @Html.EditorFor(modelItem => modelItem.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.LastName, "", new { @class = "text-danger" })
            <br />


            @foreach (var skills in Model.Skills)
            {
                @skills.Name
                <input type="checkbox" name="SkillIDs" value="@skills.SkillID" checked="@skills.IsChecked" />
                <br />
            }
        </div>

        <!--Submit-->
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexProgrammer", null, new { @id = "button", @class = "btn btn-sm" })
</div>

