@model List<SkillModel>

@{
    ViewBag.Title = "Skills";
}

<!--Jumbotron-->
<div class="jumbotron">
    <h1>Dev-Cube<img src="~/Content/images/logo.png"></h1>
    <p class="lead">Dev-Cube is an application for simplifying employee managment by providing listing with all the avaible employees and their skills. </p>
    @Html.ActionLink("Programmers", "IndexProgrammer", "Programmer", null, new { @id = "button", @class = "btn btn-lg" })
    @Html.ActionLink("Get back", "IndexSkill", "Skill", null, new { @id = "button", @class = "btn btn-lg" })
</div>

<!--Search Fields-->
@using (Html.BeginForm())
{
    <div id="search-form">
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <label for="search-form_input_name"><strong>Search by Name</strong></label>
                    </div>
                    <div class="col-7">
                        <input id="search-form_input_name" class="form-control" type="text" name="name" placeholder="Search..." />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <label for="search-form_input_programmerName"><strong>Search by Programmer</strong></label>
                    </div>
                    <div class="col-7">
                        <input id="search-form_input_programmerName" class="form-control" type="text" name="programmerName" placeholder="Search..." />
                    </div>
                </div>
            </div>
        </div>
        <input id="search-form_submitButton" class="btn btn-md" type="submit" />
    </div>
}

<!--Title-->
<h2>Skills</h2>

<!--Create Link-->
<p>From here you can manage the skills that your programmers know </p>
@Html.ActionLink("Add New Skill", "CreateSkill", null, new { @id = "button", @class = "btn btn-sm" })

<!--Table-->
<div class="table-responsive">
    <table class="table table-dark  table-hover">
        <thead class="thead-dark">
            @if (Model.Count != 0)
            {
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Known By
                    </th>

                    <th>
                        Manage
                    </th>

                </tr>
            }
            else
            {
                <div id="alert-container">
                    <div class="alert alert-danger"><strong>Hmmmm, seems we cant find what you are looking for, try typing something else in the search box</strong></div>
                </div>
            }
        </thead>

        @foreach (var item in Model)
        {
            int i = 0;
            <tr>

                <td>
                    @item.Name
                </td>


                <td>
                    @if (item.Programmers.Count == 0)
                    {
                        <span><strong>This skill is not known by anybody</strong></span>
                    }

                    @foreach (var programmer in item.Programmers)
                    {
                        i++;

                        string programmerFullName = String.Concat(programmer.FirstName, " ", programmer.LastName, ", ");

                        if (i == item.Programmers.Count)
                        {
                            programmerFullName = String.Concat(programmer.FirstName, " ", programmer.LastName);
                        }

                        if (programmer.FirstName == null)
                        {
                            programmerFullName = "This skill is not known by any programmer";
                        }

                        @programmerFullName

                    }

                </td>

                <td>
                    @Html.ActionLink("Update", "UpdateSkill", new { id = item.SkillID }) |
                    <a data-id="@item.SkillID" class="delete-link" href="#" data-toggle="modal" data-target="#Modal">Delete</a>
                </td>

            </tr>
        }
    </table>
</div>

<!--Pagination-->


<!--Modal-->
<div class="modal fade" id="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Woah There!</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this skill!
                @Html.Hidden("id", "", new { @class = "hidden-field" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button id="delete-button" class="btn btn-default">Yes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let Url = '@Url.Action("DeleteSkill", "Skill")';
</script>

@Scripts.Render("~/Content/js/delete.js")
