@model UpdateSkillViewModel
@{
    ViewBag.Title = "Update";
}

<!--Title-->
<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!--Forms-->
    <div class="form-horizontal">
        <h4>Programmers that know this skills</h4>
        <hr />

        <div class="form-group">
            @Html.HiddenFor(modeItem => modeItem.SkillID)

            <label><strong>Name:</strong></label>
            @Html.EditorFor(modelItem => modelItem.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(modelItem => modelItem.Name, "", new { @class = "text-danger" })
            <br />

            @foreach (var programmers in Model.Programmers)
            {
                var FullName = String.Concat(programmers.FirstName, " ", programmers.LastName);

                <label>@FullName</label>
                <input type="checkbox" name="ProgrammerIDs" value="@programmers.ProgrammerID" checked="@programmers.IsChecked" />
                <br />
            }
        </div>

        <!--Submit-->
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexSkill", null, new { @id = "button", @class = "btn btn-sm" })
</div>

