@model DevCube.Models.SkilledProgrammer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SkilledProgrammer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Programmer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programmer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill.SkillsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill.SkillsName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SkilledProgrammersID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
