@model List<ProgrammerModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dev-Cube</h1>
    <p class="lead">Dev-Cube is an application for simplifying employee managment by providing listing with all the avaible employees and their skills. </p>
    <p><a href="http://www.icygen.com/bg/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<p>
    @Html.ActionLink("Add New Programmer", "CreateProgrammer") |
    @Html.ActionLink("Add New Skill", "CreateSkill")
</p>
<table class="table">
    <tr>
        <th>
            <!--This is useless-->
            First Name
        </th>

        <th>
            Last Name
        </th>

        <th>
            Skills
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>

        <td>
            @foreach (var skill in item.Skills)
            {
       
                @Html.DisplayFor(modelItem => skill.Name) 
            }
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProgrammerID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProgrammerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProgrammerID })
        </td>

    </tr>
    }

</table>